In [4]:
import nfl_data_py as nfl

import pandas as pd
import numpy as np

# --------------------------------------------------------------
# Day 19 : NFL.py üèà
# --------------------------------------------------------------

# EDA and objectives

### Goal: Build a binary classifier to determine if a first round quarterback is going to be a bust

### Today: Build a training dataset

In [31]:
years = range(2010, 2023)

In [32]:
data = nfl.import_weekly_data(years)
draft = nfl.import_draft_picks(years)

Downcasting floats.

In [168]:
data

,player_id,player_name,player_display_name,position,position_group,headshot_url,recent_team,season,week,season_type,...,receiving_first_downs,receiving_epa,receiving_2pt_conversions,racr,target_share,air_yards_share,wopr,special_teams_tds,fantasy_points,fantasy_points_ppr
0,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,2,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.000000,1.000000
1,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,3,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,18.040001,18.040001
2,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,4.040000,4.040000
3,00-0001231,None,Josh Bidwell,P,SPEC,None,WAS,2010,1,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,0.000000,0.000000
4,00-0001545,None,Todd Bouman,QB,QB,None,JAX,2010,7,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,13.680000,13.680000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,00-0038134,K.Walker,Kenneth Walker,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2022,17,REG,...,1.0,0.968106,0,-9.0,0.035714,-0.003717,0.050969,0.0,14.200000,15.200000
5627,00-0038134,K.Walker,Kenneth Walker,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2022,18,REG,...,0.0,0.430252,0,-10.0,0.035714,-0.003745,0.050950,0.0,12.400000,13.400000
5628,00-0038134,K.Walker,Kenneth Walker,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2022,19,POST,...,0.0,-0.309929,0,0.0,0.029412,0.000000,0.044118,0.0,12.600000,13.600000
5629,00-0038147,D.Baldwin,Daylen Baldwin,WR,WR,https://static.www.nfl.com/image/private/f_aut...,CLE,2022,15,REG,...,2.0,1.791362,0,1.0,0.076923,0.223214,0.271635,0.0,2.500000,4.500000
5630,00-0038149,J.Ali,Josh Ali,WR,WR,https://static.www.nfl.com/image/private/f_aut...,ATL,2022,18,REG,...,0.0,-0.519020,0,0.0,0.035714,0.134731,0.147883,0.0,0.000000,0.000000

In [169]:
draft

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
8577,2010,1,1,STL,00-0027854,BradSa00,sam-bradford-1,Sam Bradford,False,QB,...,61.0,146.0,340.0,2.0,1.0,5.0,0.0,NaN,NaN,NaN
8578,2010,1,2,DET,00-0027855,SuhxNd99,ndamukong-suh-1,Ndamukong Suh,False,DT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,392.0,1.0,71.5
8579,2010,1,3,TAM,00-0027856,McCoGe99,gerald-mccoy-1,Gerald McCoy,False,DT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235.0,NaN,59.5
8580,2010,1,4,WAS,None,WillTr21,trent-williams-2,Trent Williams,False,T,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
8581,2010,1,5,KAN,00-0027858,BerrEr99,eric-berry-1,Eric Berry,False,DB,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,377.0,14.0,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11892,2017,7,249,SEA,00-0033594,CarsCh00,chris-carson-1,Chris Carson,False,RB,...,0.0,769.0,3502.0,24.0,107.0,804.0,7.0,NaN,NaN,NaN
11893,2017,7,250,DET,00-0033595,OConPa00,pat-oconnor-1,Pat O'Connor,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,NaN,1.5
11894,2017,7,251,CIN,00-0033798,SchrMa00,mason-schreck-1,Mason Schreck,False,TE,...,0.0,0.0,0.0,0.0,2.0,6.0,0.0,1.0,NaN,NaN
11895,2017,7,252,CLE,00-0033596,DayeMa00,matt-dayes-1,Matthew Dayes,False,RB,...,0.0,5.0,13.0,0.0,4.0,29.0,0.0,9.0,NaN,NaN
11896,2017,7,253,DEN,00-0033597,KellCh00,chad-kelly-1,Chad Kelly,False,QB,...,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [78]:
df = data[(data['season'] >= 2010) & (data['position'] == 'QB')]

In [61]:
df = df.groupby('player_display_name').agg(
    {'player_id':pd.Series.mode, 'position':pd.Series.mode, 'season':'min', 'recent_team':lambda x:x.iloc[0]}
    ).reset_index().sort_values('player_display_name')
rounds = [draft[draft['pfr_player_name'] == plyr]['round'] for plyr in df['player_display_name']]

In [118]:
df_draft = draft[(draft['round'] == 1) & (draft['position'] == 'QB') & ()][['pfr_player_name', 'season', 'round', 'pick', 'team']]
df_draft.loc[df_draft['team'] == 'STL', 'team'] = 'LA'

In [158]:
players_by_season[players_by_season['player_display_name'] == 'Patrick Mahomes']

    player_display_name  season recent_team
744     Patrick Mahomes    2017          KC
745     Patrick Mahomes    2018          KC
746     Patrick Mahomes    2019          KC
747     Patrick Mahomes    2020          KC
748     Patrick Mahomes    2021          KC
749     Patrick Mahomes    2022          KC

In [ ]:
labels = [df[df['player_display_name'] == plyr] for plyr in df_draft['pfr_player_name']]

In [119]:
players_by_season = df.groupby(['player_display_name', 'season']).agg({'recent_team':lambda x: x.iloc[0]}).reset_index()

In [120]:
players_by_season[players_by_season['player_display_name'] == 'Sam Bradford']

    player_display_name  season recent_team
828        Sam Bradford    2010          LA
829        Sam Bradford    2011          LA
830        Sam Bradford    2012          LA
831        Sam Bradford    2013          LA
832        Sam Bradford    2015         PHI
833        Sam Bradford    2016         MIN
834        Sam Bradford    2017         MIN
835        Sam Bradford    2018         ARI

In [127]:
players_by_season[(players_by_season['player_display_name'] == plyr) & (players_by_season['recent_team'].values[0] == draft_team)].shape[0]

8

In [ ]:
df[(df['ITEM'])]

In [135]:
df_draft['pfr_player_name']

8577           Sam Bradford
8601              Tim Tebow
8832             Cam Newton
8839            Jake Locker
8841         Blaine Gabbert
8843       Christian Ponder
9086            Andrew Luck
9087     Robert Griffin III
9093         Ryan Tannehill
9107         Brandon Weeden
9354              EJ Manuel
9595          Blake Bortles
9614         Johnny Manziel
9624      Teddy Bridgewater
9849         Jameis Winston
9850         Marcus Mariota
10105            Jared Goff
10106          Carson Wentz
10130          Paxton Lynch
10377         Kenny Pickett
10620       Trevor Lawrence
10621           Zach Wilson
10622            Trey Lance
10630         Justin Fields
10634             Mac Jones
10879            Joe Burrow
10883        Tua Tagovailoa
10884        Justin Herbert
10904           Jordan Love
11134          Kyler Murray
11139          Daniel Jones
11148        Dwayne Haskins
11388        Baker Mayfield
11390           Sam Darnold
11394            Josh Allen
11397            Josh Rosen
11419         Lamar Jackson
11645     Mitchell Trubisky
11653       Patrick Mahomes
11655        Deshaun Watson
Name: pfr_player_name, dtype: object

In [136]:
players_by_season[players_by_season['player_display_name'] == 'Cam Newton']

    player_display_name  season recent_team
153          Cam Newton    2011         CAR
154          Cam Newton    2012         CAR
155          Cam Newton    2013         CAR
156          Cam Newton    2014         CAR
157          Cam Newton    2015         CAR
158          Cam Newton    2016         CAR
159          Cam Newton    2017         CAR
160          Cam Newton    2018         CAR
161          Cam Newton    2019         CAR
162          Cam Newton    2020          NE
163          Cam Newton    2021         CAR

In [160]:
players_by_season[(players_by_season['player_display_name'] == 'Patrick Mahomes') & (players_by_season['recent_team'] == 'KC')].shape[0]

6

In [152]:
df_draft[df_draft['pfr_player_name'] == plyr]['season']

8577    2010
Name: season, dtype: int32

In [163]:
df_draft[df_draft['pfr_player_name'] == 'Patrick Mahomes']['team']

11653    KAN
Name: team, dtype: object

In [165]:
df_draft[df_draft['team'] == 'KAN']

       pfr_player_name  season  round  pick team
11653  Patrick Mahomes    2017      1    10  KAN

In [161]:
labels = []
for plyr in df_draft['pfr_player_name']:
    draft_team = np.squeeze(df_draft[df_draft['pfr_player_name'] == plyr]['team'])
    draft_year = np.squeeze(df_draft[df_draft['pfr_player_name'] ==plyr]['season'].values[0])
    labels.append([plyr,players_by_season[(players_by_season['player_display_name'] == plyr) & (players_by_season['recent_team'] == draft_team)].shape[0] >= 5])

In [167]:
labels[:10]

[['Sam Bradford', False],
 ['Tim Tebow', False],
 ['Cam Newton', True],
 ['Jake Locker', False],
 ['Blaine Gabbert', False],
 ['Christian Ponder', False],
 ['Andrew Luck', True],
 ['Robert Griffin III', False],
 ['Ryan Tannehill', True],
 ['Brandon Weeden', False]]

,player_id,player_name,player_display_name,position,position_group,headshot_url,recent_team,season,week,season_type,...,receiving_first_downs,receiving_epa,receiving_2pt_conversions,racr,target_share,air_yards_share,wopr,special_teams_tds,fantasy_points,fantasy_points_ppr
0,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,2,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.000000,1.000000
1,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,3,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,18.040001,18.040001
2,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,4.040000,4.040000
4,00-0001545,None,Todd Bouman,QB,QB,None,JAX,2010,7,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,13.680000,13.680000
5,00-0002110,None,Mark Brunell,QB,QB,None,NYJ,2010,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,0.280000,0.280000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5593,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,9,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,7.200000,7.200000
5594,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,10,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,-2.400000,-2.400000
5595,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,13,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.440000,1.440000
5596,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,15,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.600000,1.600000
5597,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,16,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,10.260000,10.260000

In [66]:
draft[draft['pfr_player_name'] == 'Will Grier']

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
11233,2019,3,100,CAR,00-0035251,GrieWi00,will-grier-1,Will Grier,False,QB,...,4.0,7.0,22.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [63]:
df

    player_display_name   player_id position  season recent_team
0           A.J. Feeley  00-0020305       QB    2011          LA
1           AJ McCarron  00-0031288       QB    2015         CIN
2         Aaron Rodgers  00-0023459       QB    2010          GB
3            Alex Smith  00-0023436       QB    2010          SF
4           Alex Tanney  00-0029623       QB    2015         TEN
..                  ...         ...      ...     ...         ...
228        Tyrod Taylor  00-0028118       QB    2011         BAL
229         Vince Young  00-0024218       QB    2010         TEN
230          Will Grier  00-0035251       QB    2019         CAR
231   Zach Mettenberger  00-0031266       QB    2014         TEN
232         Zach Wilson  00-0037013       QB    2021         NYJ

[233 rows x 5 columns]

In [62]:
rounds

[Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9086    1
 Name: round, dtype: int32,
 8866    2
 Name: round, dtype: int32,
 10293    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10494    4
 Name: round, dtype: int32,
 11388    1
 Name: round, dtype: int32,
 11109    7
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 8841    1
 Name: round, dtype: int32,
 9595    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 10305    6
 Name: round, dtype: int32,
 9107    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 9995    5
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9142    2
 Name: round, dtype: int32,
 10619    7
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9951    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11747    3
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 8832    1
 Name: round, dtype: int32,
 10243    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10106    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 11896    7
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 8843    1
 Name: round, dtype: int32,
 10197    3
 Name: round, dtype: int32,
 8867    2
 Name: round, dtype: int32,
 8661    3
 Name: round, dtype: int32,
 10204    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 10239    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11139    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9775    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10686    3
 Name: round, dtype: int32,
 11730    3
 Name: round, dtype: int32,
 11695    2
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9628    2
 Name: round, dtype: int32,
 11655    1
 Name: round, dtype: int32,
 10431    3
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 11175    2
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11148    1
 Name: round, dtype: int32,
 9354    1
 Name: round, dtype: int32,
 11299    5
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9806    6
 Name: round, dtype: int32,
 9377    2
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 9039    7
 Name: round, dtype: int32,
 10752    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11000    4
 Name: round, dtype: int32,
 10195    3
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11045    5
 Name: round, dtype: int32,
 8839    1
 Name: round, dtype: int32,
 11067    6
 Name: round, dtype: int32,
 10295    6
 Name: round, dtype: int32,
 10931    2
 Name: round, dtype: int32,
 9849    1
 Name: round, dtype: int32,
 10105    1
 Name: round, dtype: int32,
 11266    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 10311    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 8624    2
 Name: round, dtype: int32,
 9654    2
 Name: round, dtype: int32,
 10879    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 8775    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 8731    5
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 9614    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10904    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11394    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 11397    1
 Name: round, dtype: int32,
 11778    4
 Name: round, dtype: int32,
 10630    1
 Name: round, dtype: int32,
 10884    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10685    3
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10377    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10266    5
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 9187    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 11495    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10683    2
 Name: round, dtype: int32,
 11134    1
 Name: round, dtype: int32,
 11419    1
 Name: round, dtype: int32,
 9453    4
 Name: round, dtype: int32,
 8785    7
 Name: round, dtype: int32,
 11636    7
 Name: round, dtype: int32,
 11586    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10634    1
 Name: round, dtype: int32,
 10443    3
 Name: round, dtype: int32,
 9850    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 11463    3
 Name: round, dtype: int32,
 9436    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9411    3
 Name: round, dtype: int32,
 8698    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11558    5
 Name: round, dtype: int32,
 11645    1
 Name: round, dtype: int32,
 10291    6
 Name: round, dtype: int32,
 11814    5
 Name: round, dtype: int32,
 9173    3
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 11653    1
 Name: round, dtype: int32,
 10130    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9288    6
 Name: round, dtype: int32,
 9160    3
 Name: round, dtype: int32,
 8752    6
 Name: round, dtype: int32,
 11237    4
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 9539    6
 Name: round, dtype: int32,
 9270    6
 Name: round, dtype: int32,
 8905    3
 Name: round, dtype: int32,
 9448    4
 Name: round, dtype: int32,
 9093    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 8577    1
 Name: round, dtype: int32,
 11390    1
 Name: round, dtype: int32,
 10837    6
 Name: round, dtype: int32,
 10501    5
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 9937    3
 Name: round, dtype: int32,
 9587    7
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 10604    7
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 8983    5
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9624    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9727    4
 Name: round, dtype: int32,
 8780    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11330    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 10620    1
 Name: round, dtype: int32,
 10098    7
 Name: round, dtype: int32,
 10622    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 10883    1
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 Series([], Name: round, dtype: int32),
 9011    6
 Name: round, dtype: int32,
 Series([], Name: round, dtype: int32),
 11233    3
 Name: round, dtype: int32,
 9770    6
 Name: round, dtype: int32,
 10621    1
 Name: round, dtype: int32]

In [ ]:
data

In [58]:
df

                      player_id position  season recent_team
player_display_name
A.J. Feeley          00-0020305       QB    2011          LA
AJ McCarron          00-0031288       QB    2015         CIN
Aaron Rodgers        00-0023459       QB    2010          GB
Alex Smith           00-0023436       QB    2010          SF
Alex Tanney          00-0029623       QB    2015         TEN
...                         ...      ...     ...         ...
Tyrod Taylor         00-0028118       QB    2011         BAL
Vince Young          00-0024218       QB    2010         TEN
Will Grier           00-0035251       QB    2019         CAR
Zach Mettenberger    00-0031266       QB    2014         TEN
Zach Wilson          00-0037013       QB    2021         NYJ

[233 rows x 4 columns]

In [ ]:
def get_draft_round(draft_df, qb):
    round = draft

In [59]:
draft

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
8577,2010,1,1,STL,00-0027854,BradSa00,sam-bradford-1,Sam Bradford,False,QB,...,61.0,146.0,340.0,2.0,1.0,5.0,0.0,NaN,NaN,NaN
8578,2010,1,2,DET,00-0027855,SuhxNd99,ndamukong-suh-1,Ndamukong Suh,False,DT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,392.0,1.0,71.5
8579,2010,1,3,TAM,00-0027856,McCoGe99,gerald-mccoy-1,Gerald McCoy,False,DT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235.0,NaN,59.5
8580,2010,1,4,WAS,None,WillTr21,trent-williams-2,Trent Williams,False,T,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
8581,2010,1,5,KAN,00-0027858,BerrEr99,eric-berry-1,Eric Berry,False,DB,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,377.0,14.0,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11892,2017,7,249,SEA,00-0033594,CarsCh00,chris-carson-1,Chris Carson,False,RB,...,0.0,769.0,3502.0,24.0,107.0,804.0,7.0,NaN,NaN,NaN
11893,2017,7,250,DET,00-0033595,OConPa00,pat-oconnor-1,Pat O'Connor,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,NaN,1.5
11894,2017,7,251,CIN,00-0033798,SchrMa00,mason-schreck-1,Mason Schreck,False,TE,...,0.0,0.0,0.0,0.0,2.0,6.0,0.0,1.0,NaN,NaN
11895,2017,7,252,CLE,00-0033596,DayeMa00,matt-dayes-1,Matthew Dayes,False,RB,...,0.0,5.0,13.0,0.0,4.0,29.0,0.0,9.0,NaN,NaN
11896,2017,7,253,DEN,00-0033597,KellCh00,chad-kelly-1,Chad Kelly,False,QB,...,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [40]:
df

,player_id,player_name,player_display_name,position,position_group,headshot_url,recent_team,season,week,season_type,...,receiving_first_downs,receiving_epa,receiving_2pt_conversions,racr,target_share,air_yards_share,wopr,special_teams_tds,fantasy_points,fantasy_points_ppr
0,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,2,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.000000,1.000000
1,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,3,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,18.040001,18.040001
2,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,4.040000,4.040000
4,00-0001545,None,Todd Bouman,QB,QB,None,JAX,2010,7,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,13.680000,13.680000
5,00-0002110,None,Mark Brunell,QB,QB,None,NYJ,2010,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,0.280000,0.280000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5593,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,9,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,7.200000,7.200000
5594,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,10,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,-2.400000,-2.400000
5595,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,13,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.440000,1.440000
5596,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,15,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.600000,1.600000
5597,00-0038128,M.Willis,Malik Willis,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TEN,2022,16,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,10.260000,10.260000

In [35]:
draft = nfl.import_draft_picks(years)

In [36]:
draft

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
8577,2010,1,1,STL,00-0027854,BradSa00,sam-bradford-1,Sam Bradford,False,QB,...,61.0,146.0,340.0,2.0,1.0,5.0,0.0,NaN,NaN,NaN
8578,2010,1,2,DET,00-0027855,SuhxNd99,ndamukong-suh-1,Ndamukong Suh,False,DT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,392.0,1.0,71.5
8579,2010,1,3,TAM,00-0027856,McCoGe99,gerald-mccoy-1,Gerald McCoy,False,DT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235.0,NaN,59.5
8580,2010,1,4,WAS,None,WillTr21,trent-williams-2,Trent Williams,False,T,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
8581,2010,1,5,KAN,00-0027858,BerrEr99,eric-berry-1,Eric Berry,False,DB,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,377.0,14.0,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11892,2017,7,249,SEA,00-0033594,CarsCh00,chris-carson-1,Chris Carson,False,RB,...,0.0,769.0,3502.0,24.0,107.0,804.0,7.0,NaN,NaN,NaN
11893,2017,7,250,DET,00-0033595,OConPa00,pat-oconnor-1,Pat O'Connor,False,DE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,NaN,1.5
11894,2017,7,251,CIN,00-0033798,SchrMa00,mason-schreck-1,Mason Schreck,False,TE,...,0.0,0.0,0.0,0.0,2.0,6.0,0.0,1.0,NaN,NaN
11895,2017,7,252,CLE,00-0033596,DayeMa00,matt-dayes-1,Matthew Dayes,False,RB,...,0.0,5.0,13.0,0.0,4.0,29.0,0.0,9.0,NaN,NaN
11896,2017,7,253,DEN,00-0033597,KellCh00,chad-kelly-1,Chad Kelly,False,QB,...,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69669 entries, 0 to 5630
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    69669 non-null  object
 1   player_name                  53133 non-null  object
 2   player_display_name          69669 non-null  object
 3   position                     69600 non-null  object
 4   position_group               69600 non-null  object
 5   headshot_url                 58874 non-null  object
 6   recent_team                  69669 non-null  object
 7   season                       69669 non-null  int32
 8   week                         69669 non-null  int32
 9   season_type                  69669 non-null  object
 10  opponent_team                69669 non-null  object
 11  completions                  69669 non-null  int32
 12  attempts                     69669 non-null  int32
 13  passing_yards                69669 non-null  float32
 14  passing_tds                  69669 non-null  int32
 15  interceptions                69669 non-null  float32
 16  sacks                        69669 non-null  float32
 17  sack_yards                   69669 non-null  float32
 18  sack_fumbles                 69669 non-null  int32
 19  sack_fumbles_lost            69669 non-null  int32
 20  passing_air_yards            69669 non-null  float32
 21  passing_yards_after_catch    69669 non-null  float32
 22  passing_first_downs          69669 non-null  float32
 23  passing_epa                  8433 non-null   float32
 24  passing_2pt_conversions      69669 non-null  int32
 25  pacr                         8353 non-null   float32
 26  dakota                       7473 non-null   float32
 27  carries                      69669 non-null  int32
 28  rushing_yards                69669 non-null  float32
 29  rushing_tds                  69669 non-null  int32
 30  rushing_fumbles              69669 non-null  float32
 31  rushing_fumbles_lost         69669 non-null  float32
 32  rushing_first_downs          69669 non-null  float32
 33  rushing_epa                  28354 non-null  float32
 34  rushing_2pt_conversions      69669 non-null  int32
 35  receptions                   69669 non-null  int32
 36  targets                      69669 non-null  int32
 37  receiving_yards              69669 non-null  float32
 38  receiving_tds                69669 non-null  int32
 39  receiving_fumbles            69669 non-null  float32
 40  receiving_fumbles_lost       69669 non-null  float32
 41  receiving_air_yards          69669 non-null  float32
 42  receiving_yards_after_catch  69669 non-null  float32
 43  receiving_first_downs        69669 non-null  float32
 44  receiving_epa                56257 non-null  float32
 45  receiving_2pt_conversions    69669 non-null  int32
 46  racr                         55778 non-null  float32
 47  target_share                 56257 non-null  float32
 48  air_yards_share              56257 non-null  float32
 49  wopr                         56257 non-null  float32
 50  special_teams_tds            69669 non-null  float32
 51  fantasy_points               69669 non-null  float32
 52  fantasy_points_ppr           69669 non-null  float32
dtypes: float32(29), int32(15), object(9)
memory usage: 17.0+ MB

In [34]:
data

,player_id,player_name,player_display_name,position,position_group,headshot_url,recent_team,season,week,season_type,...,receiving_first_downs,receiving_epa,receiving_2pt_conversions,racr,target_share,air_yards_share,wopr,special_teams_tds,fantasy_points,fantasy_points_ppr
0,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,2,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.000000,1.000000
1,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,3,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,18.040001,18.040001
2,00-0000865,None,Charlie Batch,QB,QB,None,PIT,2010,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,4.040000,4.040000
3,00-0001231,None,Josh Bidwell,P,SPEC,None,WAS,2010,1,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,0.000000,0.000000
4,00-0001545,None,Todd Bouman,QB,QB,None,JAX,2010,7,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,13.680000,13.680000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,00-0038134,K.Walker,Kenneth Walker,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2022,17,REG,...,1.0,0.968106,0,-9.0,0.035714,-0.003717,0.050969,0.0,14.200000,15.200000
5627,00-0038134,K.Walker,Kenneth Walker,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2022,18,REG,...,0.0,0.430252,0,-10.0,0.035714,-0.003745,0.050950,0.0,12.400000,13.400000
5628,00-0038134,K.Walker,Kenneth Walker,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2022,19,POST,...,0.0,-0.309929,0,0.0,0.029412,0.000000,0.044118,0.0,12.600000,13.600000
5629,00-0038147,D.Baldwin,Daylen Baldwin,WR,WR,https://static.www.nfl.com/image/private/f_aut...,CLE,2022,15,REG,...,2.0,1.791362,0,1.0,0.076923,0.223214,0.271635,0.0,2.500000,4.500000
5630,00-0038149,J.Ali,Josh Ali,WR,WR,https://static.www.nfl.com/image/private/f_aut...,ATL,2022,18,REG,...,0.0,-0.519020,0,0.0,0.035714,0.134731,0.147883,0.0,0.000000,0.000000

In [ ]:
df = data[data['player']]

In [30]:
data[data['player_display_name'] == 'Jared Goff']['season']

5202    2016
5203    2016
5204    2016
5205    2016
5206    2016
        ...
1843    2021
1844    2021
1845    2021
1846    2021
1847    2021
Name: season, Length: 89, dtype: int32

In [29]:
nfl.import_draft_values()

     pick  stuart  johnson     hill   otc    pff
0       1    34.6     3000  1000.00  3000  1.135
1       2    30.2     2600   717.17  2635  1.099
2       3    27.6     2200   514.33  2421  1.063
3       4    25.8     1800   490.52  2270  1.027
4       5    24.3     1700   467.81  2152  0.991
..    ...     ...      ...      ...   ...    ...
257   258     0.0        0     1.08    76  0.047
258   259     0.0        0     1.06    74  0.047
259   260     0.0        0     1.04    72  0.046
260   261     0.0        0     1.02    70  0.046
261   262     0.0        0     1.00    68  0.046

[262 rows x 6 columns]

In [15]:
wins = nfl.import_win_totals([2021, 2023])

WARNING:root:The win totals data source is currently in flux and may be out of date.

In [17]:
wins[wins['game_id'] == '2021_01_DAL_TB']

,game_id,market_type,abbr,lines,odds,opening_lines,opening_odds,book,season
437011,2021_01_DAL_TB,money_line,DAL,NaN,378,0.0,240.0,5Dimes,2021
437012,2021_01_DAL_TB,money_line,DAL,NaN,378,0.0,240.0,sportbet,2021
437013,2021_01_DAL_TB,money_line,TB,NaN,-425,0.0,-280.0,5Dimes,2021
437014,2021_01_DAL_TB,money_line,TB,NaN,-425,0.0,-280.0,sportbet,2021
437015,2021_01_DAL_TB,money_line,DAL,NaN,350,0.0,230.0,bet365,2021
...,...,...,...,...,...,...,...,...,...
437138,2021_01_DAL_TB,total,over,52.5,-107,51.5,-116.0,BETMANIA,2021
437139,2021_01_DAL_TB,total,under,52.5,-110,51.5,-104.0,SKYBOOK,2021
437140,2021_01_DAL_TB,total,over,52.5,-110,51.5,-116.0,SKYBOOK,2021
437141,2021_01_DAL_TB,total,under,52.0,-111,53.0,-111.0,BetRegal,2021
437142,2021_01_DAL_TB,total,over,52.0,-111,53.0,-111.0,BetRegal,2021

In [16]:
wins['season']

,game_id,market_type,abbr,lines,odds,opening_lines,opening_odds,book,season
437011,2021_01_DAL_TB,money_line,DAL,NaN,378,0.0,240.0,5Dimes,2021
437012,2021_01_DAL_TB,money_line,DAL,NaN,378,0.0,240.0,sportbet,2021
437013,2021_01_DAL_TB,money_line,TB,NaN,-425,0.0,-280.0,5Dimes,2021
437014,2021_01_DAL_TB,money_line,TB,NaN,-425,0.0,-280.0,sportbet,2021
437015,2021_01_DAL_TB,money_line,DAL,NaN,350,0.0,230.0,bet365,2021
...,...,...,...,...,...,...,...,...,...
478076,2021_18_WAS_NYG,total,over,38.5,-114,39.0,-115.0,BETMANIA,2021
478077,2021_18_WAS_NYG,total,under,38.5,-103,39.0,-102.0,SKYBOOK,2021
478078,2021_18_WAS_NYG,total,over,38.5,-117,39.0,-118.0,SKYBOOK,2021
478079,2021_18_WAS_NYG,total,under,38.5,-111,38.5,-111.0,BetRegal,2021
478080,2021_18_WAS_NYG,total,over,38.5,-111,38.5,-111.0,BetRegal,2021

In [9]:
data

,player_id,player_name,player_display_name,position,position_group,headshot_url,recent_team,season,week,season_type,...,receiving_first_downs,receiving_epa,receiving_2pt_conversions,racr,target_share,air_yards_share,wopr,special_teams_tds,fantasy_points,fantasy_points_ppr
0,00-0019596,T.Brady,Tom Brady,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TB,2022,1,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,10.38,10.38
1,00-0019596,T.Brady,Tom Brady,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TB,2022,2,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,9.40,9.40
2,00-0019596,T.Brady,Tom Brady,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TB,2022,3,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,14.74,14.74
3,00-0019596,T.Brady,Tom Brady,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TB,2022,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,25.40,25.40
4,00-0019596,T.Brady,Tom Brady,QB,QB,https://static.www.nfl.com/image/private/f_aut...,TB,2022,5,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,19.74,19.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5648,00-0039165,Z.Charbonnet,Zach Charbonnet,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2023,14,REG,...,0.0,-0.787724,0,-0.666667,0.032258,-0.025532,0.030515,0.0,4.80,5.80
5649,00-0039165,Z.Charbonnet,Zach Charbonnet,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2023,15,REG,...,0.0,-0.442067,0,0.000000,0.031250,0.012658,0.055736,0.0,1.60,1.60
5650,00-0039165,Z.Charbonnet,Zach Charbonnet,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2023,16,REG,...,0.0,-1.961893,0,0.307692,0.055556,-0.056034,0.044109,0.0,-0.40,0.60
5651,00-0039165,Z.Charbonnet,Zach Charbonnet,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2023,17,REG,...,2.0,1.644468,0,3.000000,0.151515,0.057778,0.267717,0.0,4.10,9.10
5652,00-0039165,Z.Charbonnet,Zach Charbonnet,RB,RB,https://static.www.nfl.com/image/private/f_aut...,SEA,2023,18,REG,...,2.0,1.740490,0,5.600000,0.076923,0.031447,0.137397,0.0,6.00,8.00

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:992)>